.details-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.details-content-synopsis {
    padding-right: 30px;
}

.details-cover-image img {
    max-width: 400px;
}

@media screen and (max-width: 640px) {

    .details-cover-image img {
        max-width: 100%;
    }
}