.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container > * {
  flex: 1;
  flex-basis: 300px;
  position: relative;
  overflow: hidden;
}

.item {
  /* flex: 1;
  flex-basis: 120px; */
  padding: 30px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.overlay {
  transition: bottom cubic-bezier(0.47, -0.48, 0.54, 1.54) 1s;
  position: absolute;
  font-size: 48px;
  bottom: -200px;
  left: 0;
  width: 100%;
  opacity: 0.68;
  background-color: grey;
}

.item:hover .overlay {
  opacity: .65; 
  bottom: 25%;
}

img {
  width: 100%;
}

/* @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */